@font-face {
  font-family: "Droid Sans Mono";
  src: url("/fonts/droid-sans-mono.ttf") format("truetype");
  font-weight: normal;
}

@import "bootstrap";

body {
  font-family: 'Droid Sans Mono';
  font-size: 22px;
  color: white;
  background-color: black;
}
