.about {
  padding: 60px 0 0 0;

  .event_competition {
    font-size: 36px;
    font-weight: bold;
  }

  .event_label {
    font-size: 26px;
    font-style: italic;
  }

  .player {
    font-size: 28px;
  }

  .against {
    font-size: 22px;
    margin: 17px 0;
  }
}
