#match-new {
  background-image: url('/icons/match-new.png');
  margin: 0 11px;
  width: 89px;
  height: 112px;
  display: block;
  float: left;
  cursor: pointer;
  background-size: contain;
}

#match-edit {
  display: flow-root;
}
