#match-new {
  background-image: url('/icons/match-new.png');
  margin: 0 11px;
  width: 89px;
  height: 112px;
  display: block;
  float: left;
  cursor: pointer;
  background-size: contain;
}

#match-edit {
  display: flow-root;

  .player {
    width: 50%;
    display: inline-block;
  }
}

#stats-control {

  border: 1px solid black;
  margin-top: 20px;
  display: flow-root;

  &:focus {
    border: 1px solid white;
  }

  .stats-summary {
    float: left;
  }

  .stats-log {
    display: flow-root;
    padding: 0 37px;
    margin: 37px 0 0 0;
    font-size: 13px;
    max-height: 137px;
    overflow: hidden;
    user-select: none;
  }
}
